*{
    font-family: "Arial Black", sans-serif
}
#map{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    border: none;
    background-color: rgb(113, 211, 106);
    transition: transform 0.5s ease-in-out;
}

#sidebarMenu{
    height: 8%;
    background-size: cover;
    position: fixed;
    z-index: 1;
    top: 10px;
    left: 10px;
    opacity: 0.5;
    transition: 0.2s;
    cursor: default;
}

#sidebarMenu:hover{
    opacity: 1;
}

#sideNav{
    height: 100%;
    width: 70%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    padding: 10px;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    background-color: #FFF;
}

#sideNav .closeBtn{
    top: 0;
    position: absolute;
    font-size: 40px;
    right: 30px;
    opacity: 0.5;
    transition: 0.2s;
    cursor: default;
}

#sideNav .closeBtn:hover{
    opacity: 1;
}

#logo{
    max-width: 70px;
    width: 80%;
}

#sideNav .desc{
    margin: 20px 60px 20px 10px;
    font-size: 14px;
    display: block;
    transition: 0.3s;
    overflow-y: auto;
    color: #636363;
}

#sideNav hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #636363;
    margin: 0px 80px 0px 0px;
}

@media screen and (min-width: 650px){
    #links{
        display: grid;
        width: 400px;
        grid-template-columns: 50% 25% 25%;
        grid-template-areas: 
            "zwolnieni_z_teorii instagram tiktok";
    }
    .social_media_link{
        text-align: center;
        margin: auto;
    }
}

@media screen and (max-width: 650px){
    #links{
        display: grid;
        grid-template-areas: 
            "zwolnieni_z_teorii" 
            "instagram"
            "tiktok";
        width: 200px;
    }
    .social_media_link{
        text-align: left;
        margin: 10px 0px 10px 0px;
    }
}

#zwolnieni_z_teorii{
    text-decoration: none;
    grid-area: zwolnieni_z_teorii;
    color: #428F8C;
    font-size: 16px;
}

#instagram{
    grid-area: instagram;
    color: #428F8C;
    font-size: 30px;
}

#tiktok{
    grid-area: tiktok;
    color: #428F8C;
    font-size: 25px;
}

#sidebarMenuR{
    height: 8%;
    background-size: cover;
    position: fixed;
    z-index: 1;
    top: 10px;
    right: 10px;
    opacity: 0.5;
    transition: 0.2s;
    cursor: default;
}

#sidebarMenuR:hover{
    opacity: 1;
}

@media screen and (min-width: 800px){
    #locationList{
        height: 100%;
        width: 30%;
        position: fixed;
        z-index: 2;
        top: 0;
        right: 0;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 10px;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
        background-color: #FFF;
    }
}

@media screen and (max-width: 800px){
    #locationList{
        height: 100%;
        width: 50%;
        position: fixed;
        z-index: 2;
        top: 0;
        right: 0;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 10px;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
        background-color: #FFF;
    }
}

#closeBtnR{
    top: 0;
    position: absolute;
    font-size: 40px;
    left: 10px;
    opacity: 0.5;
    transition: 0.2s;
    cursor: default;
}

#closeBtnR:hover{
    opacity: 1;
}